@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    <h2>Welcome to Our Real Estate Rental Application</h2>
    <p>We would like to extend a warm welcome to our new Real Estate Rental Rpplication! Our app is designed to make it easy for you to manage your rental properties, and we are excited to have you join us.</p>
    <p>With our user-friendly interface, you can easily list your rental properties, track rental payments, and communicate with your tenants. Our app is packed with features that will help you streamline your rental management tasks, giving you more time to focus on growing your business.</p>
    <p>We are committed to providing you with the best possible experience on our app, and we encourage you to explore all the features we have to offer. If you have any questions or feedback, please don't hesitate to reach out to our support team at [EMAIL].</p>
    <p>Thank you for choosing our app for your real estate rental needs. We look forward to serving you!</p>
    <p> Here are some of many more features provided by this application :</p>

    <ul>
        <li>User-friendly interface for easy property listing and management</li>
        
        <li>Ability to track rental payments and view payment history</li>
        <li>Automated reminders for rent payments and lease renewals</li>
        <li>Integrated messaging system for easy communication with tenants</li>
        <li>Automated rent roll generation and tenant statements</li>        
        <li>Customizable lease agreements and rental applications</li>
        <li>Online tenant screening and background checks</li>
        <li>Integrated accounting and financial reporting</li>
        
    </ul>







    <p>Best regards,<br>[DebuggieMan Production]</p>

    <footer>
        <p>&copy; 2023 DebuggieMan Production. All rights reserved.</p>
    </footer>

        